*, *::before, *::after{
    padding: 0;
    margin: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, .4);
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-white: #fff;
    --color-black: #000;
    --color-floating-nav: hsl(0, 0%, 35%);
    --color-light: rgba(255, 255, 255, .6);

    --container-width-lg: 70%;
    --container-width-md: 88%;
    --container-width-sm: 92%;

    --transition: all 300ms ease-in-out;
}

html{
    scroll-behavior: smooth;
}

.container{
    margin: 0 auto;
    width: var(--container-width-lg);
}

#about, #experience,#services,#portfolio,#testimonials,#contact{
    margin: 6rem 0;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.2rem;
}

h5{
    font-size: 1rem;
}

img{
    display: block;
    width: 100%;
}



body{
    background: var(--color-bg);
    line-height: 1.5;
    color: var(--color-white);
    font-family: 'Quicksand', 'san-serif';
    position: relative;
    overflow-x: hidden;
    /* height:max-content; */
}

section h4:nth-child(1){
    color: var(--color-light);
    margin-bottom: 1rem;
}

.section__header{
    text-align: center;
    margin-bottom: 4rem;
}

.btn_primary{
    border: 1px solid var(--color-primary);
    padding: .3rem 1rem;
    color: var(--color-primary);
    border-radius: 1rem;
    transition: var(--transition);
    
}

.btn_primary:hover{
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

.btn_secondary{
    background: var(--color-primary);
    padding: .3rem 1rem;
    color: var(--color-black);
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.btn_secondary:hover{
    background: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-white);
}

/*=========== Floating Nav ===========*/
.floating__menu{
    background-color: var(--color-black);
    border-radius: 2rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    backdrop-filter: blur(50%);
    height: 3rem;
    padding: 0.5rem 1rem;
    display: grid;
    place-content: center;
}

.floating__links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--color-white);
}

.floating__links li a{
    color: var(--color-white);
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: var(--transition);
    padding: 0.2rem;
}

.floating__links li a:hover{
    color: var(--color-primary);
}



/*========= HERO SECTION ==============*/

.header__container{
    text-align: center;
    margin-top: 5rem;
    position: relative;
}

.header__container .section__header h3,
.header__container .section__header h4{
    color: var(--color-light);
}


.header__intro {
    margin-bottom: 2rem;
}

.header__intro h3, .header__intro h4{
    color: var(--color-light);
}

.header__intro h1{
    padding: 1rem 0 0.65rem;
}

.btns{
    margin-bottom: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.my__header-img{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.my_header_img-1{
    width: 18rem;
    height: 18rem;
    border-radius: 15rem 15rem 0 0;
    border: 1px solid var(--color-primary);
    overflow: hidden;
    background: linear-gradient(var(--color-primary), transparent);
}

.header__socials{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10rem;
}

.header__socials::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 35px;
    top: 12rem;
    left: 7px;
    background-color: var(--color-white);
}

.header__socials a{
    color: var(--color-white);
    padding: 0.2rem 0;

}

.header__socials i{
    transition: var(--transition);
    font-size: 1.2rem;
}

.header__socials i:hover{
    color: var(--color-primary);
}

.scroll{
    position: absolute;
    right:0;
    bottom: 10rem;
    transform: rotate(90deg);
    z-index: 10;
}

/*========== ABOUT ME =============*/

.about__container{
    margin-bottom: 2rem ;
}


.about__main{
   display: grid;
   grid-template-columns: 1fr 1.8fr;
    gap: 4.5rem;
}


.aboutme__left-img{
    background: var(--color-primary);
    width:max-content;
    height:max-content;
    border-radius: 2rem;

}
.aboutme__left-img img{
    width: 16rem;
    height: 16rem;
    border-radius: 2rem;
    transform: rotate(5deg);
    transition: var(--transition);
}

.aboutme__left-img img:hover{
    transform: rotate(0deg);
}

.about__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.about__card{
    padding: 1rem 0.8rem;
    text-align: center;
    background: var(--color-primary-variant);
    border-radius: 1rem;
}

.about__card span{
    font-size: 1.5rem;
}

.about__card h4 {
    padding: 0.8rem 0 0.6rem;
}

.aboutme__right p{
    margin: 1rem 0 2rem;
    color: var(--color-light);
}


/*================== EXPERIENCE ======================*/



.experience__container{
    padding: 3rem;
}

.experience__header{
    text-align: center;
    margin-bottom: 3rem;
}

.skills{
    margin: 0.5rem 0;
}

.my__skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: var(--color-primary-variant);
    border-radius: 1rem;
    box-shadow: 0 0 2rem var(--color-black);
}

.skill{
    margin: 0.2rem 0;
    /* background-color: var(--color-bg-variant); */
    padding: 0.5rem ;
    transition: var(--transition);

}

.skill:hover{
    background-color: transparent;
}


.skill img{
    width: 7rem;
    margin: 1rem auto;
    padding: 0.5rem 0;
    height: max-content;
    border-radius: 50%;
    /* border: 2px solid var(--color-bg-variant); */
    overflow: hidden;
}

.skill p{
    color: var(--color-light);
    font-weight: 600;
    font-size: 1.2rem;
}



/*================= SERVICES  ===============*/

.services{
    margin: 5rem 0;
}
.services__header{
    display: grid;
    place-content: center;
}

.my__services{
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service{
    background-color: var(--color-bg-variant);
    height: max-content;
    border-radius: 0 0 1.5rem 1.5rem;
    cursor: pointer;
    transition: var(--transition);
    border: 1px solid transparent;

}

.service:hover{
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.service__head{
    background-color: var(--color-primary-variant);
    text-align: center;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0 2rem;
    color: var(--color-white);
}

.service__list-content{
    padding: 1rem 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.service__list-content p{
    color: var(--color-light);
}

/*================== PORTFOLIO =================*/


.portfolio__header{
    text-align: center;
    margin-bottom: 3rem;
}

.my__projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.course{
    text-align: center;
    background-color: var(--color-bg-variant);
    border-radius: 1rem;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
}

.course__info{
    padding: 0.5rem 0.2rem 0.8rem;
}

.course img{
    transition: var(--transition);
}


.course img:hover{
    transform: scale(1.05);
}



.course .course__info h4{
    color: #fff;
}

.course__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}




/*================== TESTIMONIALS ================*/

#testimonials{
    margin: 4rem 0;
}

.testimonial__header{
    text-align: center;
    margin-bottom: 3rem;
}

.testimonial__header h4{
    color: var(--color-light);
}

.swiper-button-next, .swiper-button-prev{
    align-self: center;
}

.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    background-color: var(--color-primary-variant);
    /* height: 300px; */
    /* border-radius: 1rem; */
}



.client__header{
    padding: .5rem 0;
}

.client__header h5{
    padding: 1rem 0;
}

.client__img{
    width: 5rem;
    border-radius: 50%;
    border: 3px solid var(--color-primary-variant);
    margin: 0 auto;
}

.testimonial p{
    text-align: center;
    color: var(--color-light);
}

/*================== CONTACT ======================*/

.contact__container{
    padding: 3rem 0;
}

.contact__header{
    text-align: center;
}

.contact__content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3.5rem;
    padding: 4rem 2rem;
}

.contact__left, .contact__right{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact__info{
    background-color: var(--color-bg-variant);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;

}

.contact__info a{
    color: var(--color-primary);
}

.contact__info p{
    padding: .4rem 0;
}

.name, .mail, textarea{
    padding: .7rem .2rem;
    background-color: transparent;
    border: 1px solid var(--color-light);
    border-radius: .5rem;
    color: var(--color-white);
    font: inherit;
}

.name:focus, .mail:focus, textarea:focus{
    border: 1px solid var(--color-primary);

}

.name::placeholder, .mail::placeholder, textarea::placeholder{
    color: var(--color-light);
}

button[type ="submit"]{
    padding: .5rem ;
    border-radius: .5rem;
    background-color: var(--color-primary);
    border: 1px solid transparent; 
    cursor: pointer;
    transition: var(--transition);
    width: max-content;
    font: inherit ;
    font-weight: 600;
}

button[type ="submit"]:hover{
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-light);

}

/*================== FOOTER ======================*/
.footer{
    background-color: var(--color-bg-variant);
    color: var(--color-white);
    padding: 2rem 0 .5rem;
    border-radius: 2rem 2rem 0 0;
}

.footer__links{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 0;
}

.footer__links li a{
    color: var(--color-white);
    font-weight: 700;
    transition: var(--transition);
}

.footer__links li a:hover{
    color: var(--color-primary);
}

.footer__container h1{
    text-align: center;
}

.footer__container small{
    display: grid;
    place-content: center;
    font-weight: 600;
}

.footer__socials{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

.footer__socials a{
    padding: 0 1rem ;
    color: var(--color-white);
}

/*============ MEDIA QUERY (TABLET) =================*/
@media screen and (max-width: 64em){
    .container{
        width: var(--container-width-md);
    }

    #about, #experience,#services,#portfolio,#testimonials,#contact{
        margin: 4rem 0;
    }
    
    h1,h2,h3,h4,h5{
        line-height: 1.2;
    }
    
    h1{
        font-size: 2rem;
    }
    
    h2{
        font-size: 1.5rem;
    }
    
    h3{
        font-size: 1.3rem;
    }
    
    h4{
        font-size: 1.2rem;
    }
    
    img{
        display: block;
        width: 100%;
    }

    /*=======++== HERO =======++====*/

    .header__container{
        text-align: center;
        padding-top: 2.5rem;
        position: relative;
    }

    .header__socials, .scroll{
        display: none;
    }


    .my_header_img-1{
        width: 20rem;
        height: 20rem;
        border-radius: 15rem 15rem 0 0;
    }


    /*=======+===== ABOUT ME ========+=======*/
    #about{
        height: 56vh;
    }
    .container{
        margin: 0 auto;
        width: var(--container-width-md);
    }
    .about__container{
        margin-top: 4rem;
    }

    .about__me{
        padding: 3rem 0;
        /* height: 100vh; */
    }
    
    .about__main{
        place-content: center;
       grid-template-columns: 1fr 1.5fr;
        gap: 3rem;
    }

    .aboutme__left{
        display: grid;
        place-content: center;
    }
    
  
    .aboutme__left-img img{
        width: 12rem;
        height: 12rem;
    }

    /*======+==== EXPERIENCE =====+======*/
    
    #experience{
        padding: 6rem 0 2rem;
        margin-top: 10rem;
    }

   
    
    /*======+==== SERVICES =====+======*/

    .services__header{
        text-align: center;
    }

    .services__header h4{
        color: var(--color-light);
        margin-bottom: 1.5rem;
    }

    .my__services{
        grid-template-columns: repeat(2, 1fr);
    }


    /*======+==== PORTFOLIO =====+======*/
    
    .my__projects{
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    }

   

    /*=========+======== TESTIMONIALS ===========+========*/

    .testimonial__header h4{
        color: var(--color-light);
        margin-bottom: 1.5em;
    }

    .testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
        background-color: transparent;
    }


    .testimonial p{
        text-align: center;
        background-color: var(--color-primary-variant);
        color: var(--color-light);
        padding: 1rem;
    }


    /*========+==== CONTACT ======+=======*/
    
    .contact__content{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
        padding: 4rem 1rem;
    }
    
    .contact__left, .contact__right{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    

    
/*========+======== FOOTER ============+========*/


    .footer__links{
        display: flex;
        justify-content: center;
        gap: 4rem;
        padding: 2rem 0;
    }

    .footer__links li a:hover{
        color: var(--color-bg-variant);
    }

    .footer__links{
        gap: 2.5rem;
        padding: 1rem 0;
    }
}



/*============ MEDIA QUERY (SMALL DEVICES) =================*/
@media screen and (max-width: 37.5em){
    .container{
        width: var(--container-width-sm);
    }

    /*=======++== HERO =======++====*/

    .header__container{
        text-align: center;
        padding-top: 2.5rem;
        position: relative;
    }

    .header__socials, .scroll{
        display: none;
    }


    .my_header_img-1{
        width: 18rem;
        height: 18rem;
    }


    /*=======++===== ABOUT ME ========++=======*/
    #about{
        height: 100vh;
        margin-bottom: 6rem;
    }
    .container{
        margin: 0 auto;
        width: var(--container-width-sm);
    }
    .about__container{
        margin-top: 2rem;
    }

    .about__me{
        padding: 3rem 0;
        /* height: 100vh; */
    }
    
    .about__main{
        place-content: center;
       grid-template-columns: 1fr;
        gap: 3rem;
    }

    .aboutme__right p{
        display: none;
    }

    .about__content{
        grid-template-columns: 1fr;
    }

    .about__card:nth-child(3){
        margin-bottom: 2rem;
    }
    

    /*======++==== EXPERIENCE =====++======*/

    #experience{
        padding: 6rem 0 2rem;
        margin-top: 20rem;
    }


    .experience__container{
        padding: 0;
    }

    .my__skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* text-align: center;
        background-color: var(--color-primary-variant);
        border-radius: 1rem;
        box-shadow: 0 0 5rem var(--color-black); */
    }


    
    /*======++==== SERVICES =====++======*/

    .my__services{
        grid-template-columns: 1fr;
        gap: 4rem;

    }

    /*======++==== PORTFOLIO =====++======*/
    
    .my__projects{
        grid-template-columns:  1fr;
        gap: 3.5rem;
        }

    /*================== TESTIMONIALS ======================*/

    .testimonial__header h4{
        color: var(--color-light);
        margin-bottom: 1.5em;
    }

    .testimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 3rem;
        background-color: transparent;
    }


    .testimonial p{
        text-align: center;
        background-color: var(--color-primary-variant);
        color: var(--color-light);
        padding: 1rem;
    }


    /*========+==== CONTACT ======+=======*/

    .contact__container{
        padding: 3rem 0;
    }

    .contact__content{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 3rem;
        padding: 4rem 0rem;
    }
    
    .contact__left, .contact__right{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
 

/*======++======= FOOTER ===========++=======*/
    .footer__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        padding: 1rem 0;
        text-align: center;
    }

    .footer__links li a:hover{
        color: var(--color-bg-variant);
    }

    .footer__links{
        gap: 1.5rem;
        padding: 1rem 0;
    }

    /*=========== Floating Nav ===========*/
    .floating__menu{
        background-color: var(--color-black);
        height: 2.5rem;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
    }

    .floating__links{
        gap: 1rem;
    }

    .floating__links li a{
        color: var(--color-white);
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        transition: var(--transition);
        padding: 0.2rem;
    }

    .floating__links li a:hover{
        background-color: var(--color-floating-nav);
        color: var(--color-white);

    }

}


